$-base-path: '../src/assets';
$-font-family: 'Roboto', sans-serif;
$-font-family-alt: 'Open Sans', sans-serif;
$-font-size: 16px;

@mixin fonts-configure($theme) {
  $base-path: map-get($theme, base-path);
  $font-family: map-get($theme, font-family);
  $font-family-alt: map-get($theme, font-family-alt);

  @if ($base-path) {
    $-base-path: $base-path !global;
  }
  @if ($font-family) {
    $-font-family: $font-family !global;
  }
  @if ($font-family-alt) {
    $-font-family-alt: $font-family-alt !global;
  }
}

@mixin add-fonts {
  @debug '#{$-base-path}';

  @font-face {
    font-family: 'Roboto';
    src: url('#{$-base-path}/fonts/Roboto/Roboto-Bold.eot');
    src: url('#{$-base-path}/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Bold.woff') format('woff'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('#{$-base-path}/fonts/Roboto/Roboto-Medium.eot');
    src: url('#{$-base-path}/fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Medium.woff') format('woff'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('#{$-base-path}/fonts/Roboto/Roboto-Light.eot');
    src: url('#{$-base-path}/fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Light.woff2') format('woff2'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Light.woff') format('woff'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('#{$-base-path}/fonts/Roboto/Roboto-Regular.eot');
    src: url('#{$-base-path}/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Regular.woff') format('woff'),
      url('#{$-base-path}/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('#{$-base-path}/fonts/Open_Sans/OpenSans-Light.eot');
    src: url('#{$-base-path}/fonts/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Light.woff2') format('woff2'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Light.woff') format('woff'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('#{$-base-path}/fonts/Open_Sans/OpenSans-Medium.eot');
    src: url('#{$-base-path}/fonts/Open_Sans/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Medium.woff2') format('woff2'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Medium.woff') format('woff'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('#{$-base-path}/fonts/Open_Sans/OpenSans-Bold.eot');
    src: url('#{$-base-path}/fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('#{$-base-path}/fonts/Open_Sans/OpenSans-Regular.eot');
    src: url('#{$-base-path}/fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
      url('#{$-base-path}/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
