@function evo-color($name: base, $variant: black) {
  $color: null;

  $color-spectrum: map-get($evo-colors, $name);

  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  @return $color;
}
