$evo-colors: (
  base: (
    black: #0f0f14,
    white: #ffffff
  ),
  brand: (
    base: #6280fa,
    1: #6c88fa,
    2: #7792fb,
    3: #8ea4fc,
    4: #99adfc,
    5: #b0bffd,
    6: #c6d1fd,
    7: #dde4fe,
    base-alt: #f4f6ff
  ),
  grey-dusk: (
    dark: #5e5e5e,
    base: #ababab,
    1: #adadad,
    2: #bfbfbf,
    3: #cbcbcb,
    4: #e2e4de,
    5: #e8e9e5,
    6: #eeefec,
    7: #f4f5f3,
    8: #f9f9f8,
    9: #fdfdfd
  ),
  loader: (
    dot-bg-1: #f44336,
    dot-bg-2: #e91e63,
    dot-bg-3: #9c27b0,
    dot-bg-4: #673ab7,
    dot-bg-5: #3f51b5,
    dot-bg-6: #2196f3,
    dot-bg-7: #03a9f4,
    dot-bg-8: #00bcd4,
    dot-bg-9: #009688,
    dot-bg-10: #4caf50,
    dot-bg-11: #8bc34a,
    dot-bg-12: #cddc39,
    dot-bg-13: #ffeb3b,
    dot-bg-14: #ffc107,
    dot-bg-15: #ff9800
  ),
  system-error: (
    dark: #ff3c38,
    deepdark: #e63632
  ),
  system-success: (
    dark: #43d281,
    deepdark: #14c761
  ),
  system-warning: (
    dark: #ffeb3b,
    deepdark: #ffc107
  ),
  system-info: (
    dark: #69bafd,
    deepdark: #289cfc
  )
);
