$ui-props: (
  border-radius: (
    sm: 4px,
    md: 8px,
    lg: 12px,
    circle: 50%
  ),
  heading: (
    h1: 3.5rem,
    h2: 2.625rem,
    h3: 2rem,
    h4: 1.5rem,
    h5: 1.25rem,
    h6: 1rem
  ),
  accordion: (
    font-size: 1rem,
    font-family: $-font-family,
    padding: 1.125rem,
    bg: transparent,
    default-color: evo-color(grey-dusk, dark),
    active-color: evo-color(brand, base),
    disabled-bg: evo-color(grey-dusk, 7)
  ),
  button: (
    padding: (
      vertical: 0,
      horizontal: 1rem
    ),
    sizes: (
      sm: 2rem,
      md: 2.5rem,
      lg: 3rem
    ),
    group-default: (
      bg: evo-color(base, white),
      border: evo-color(grey-dusk, 4),
      color: evo-color(grey-dusk, dark)
    ),
    variants: (
      primary: (
        bg: evo-color(brand, base),
        border: evo-color(brand, base),
        color: evo-color(base, white)
      ),
      secondary: (
        bg: transparentize(evo-color(brand, base), 0.85),
        border: transparentize(evo-color(brand, base), 0.5),
        color: evo-color(brand, base)
      ),
      tertiary: (
        bg: evo-color(base, white),
        border: evo-color(brand, base),
        color: evo-color(brand, base)
      ),
      success: (
        bg: evo-color(system-success, deepdark),
        border: evo-color(system-success, deepdark),
        color: evo-color(base, white)
      ),
      error: (
        bg: evo-color(system-error, deepdark),
        border: evo-color(system-error, deepdark),
        color: evo-color(base, white)
      ),
      ghost: (
        bg: transparent,
        border: transparent,
        color: transparentize(evo-color(base, black), 0.15)
      ),
      disabled: (
        bg: evo-color(grey-dusk, 6),
        border: evo-color(grey-dusk, 3),
        color: evo-color(grey-dusk, 2)
      ),
      info: (
        bg: evo-color(system-info, deepdark),
        border: evo-color(system-info, deepdark),
        color: evo-color(base, white)
      ),
      warning: (
        bg: evo-color(system-warning, deepdark),
        border: evo-color(system-warning, deepdark),
        color: evo-color(base, white)
      )
    )
  ),
  checkbox: (
    switch-sizes: (
      sm: 1rem,
      md: 1.5rem,
      lg: 2rem
    ),
    sizes: (
      sm: 1rem,
      md: 1.25rem,
      lg: 1.5rem
    ),
    states: (
      base: (
        bg: evo-color(base, white),
        border: evo-color(grey-dusk, 3),
        color: evo-color(grey-dusk, 3),
        shadow: 0 2px 8px 0 transparentize(evo-color(base, black), 0.84)
      ),
      active: (
        bg: evo-color(brand, base),
        border: evo-color(brand, base),
        color: evo-color(base, white),
        shadow: none
      ),
      disabled: (
        bg: evo-color(grey-dusk, 6),
        border: evo-color(grey-dusk, 3),
        color: evo-color(grey-dusk, 2),
        shadow: none
      )
    )
  ),
  input: (
    padding: (
      vertical: 0,
      horizontal: 0.75rem
    ),
    sizes: (
      sm: 2rem,
      md: 2.5rem,
      lg: 3rem
    ),
    states: (
      base: (
        bg: evo-color(base, white),
        border: evo-color(grey-dusk, 3),
        color: evo-color(base, black)
      ),
      active: (
        bg: evo-color(base, white),
        border: evo-color(brand, base),
        color: evo-color(base, black)
      ),
      error: (
        bg: transparentize(evo-color(system-error, deepdark), 0.85),
        border: evo-color(system-error, deepdark),
        color: evo-color(system-error, deepdark)
      ),
      disabled: (
        bg: evo-color(grey-dusk, 6),
        border: evo-color(grey-dusk, 3),
        color: evo-color(grey-dusk, 2)
      )
    )
  ),
  radio-group: (
    sizes: (
      sm: 1.25rem,
      md: 1.5rem,
      lg: 1.75rem
    ),
    states: (
      base: (
        bg: evo-color(base, white),
        border: evo-color(grey-dusk, 3),
        color: evo-color(base, black),
        shadow: 0 0 10px 0 transparentize(evo-color(base, black), 0.84)
      ),
      active: (
        bg: evo-color(brand, base),
        border: evo-color(brand, base),
        color: evo-color(base, black),
        shadow: none
      ),
      error: (
        bg: transparentize(evo-color(system-error, deepdark), 0.85),
        border: evo-color(system-error, deepdark),
        color: evo-color(system-error, deepdark),
        shadow: none
      ),
      disabled: (
        bg: evo-color(grey-dusk, 6),
        border: evo-color(grey-dusk, 3),
        color: evo-color(grey-dusk, 2),
        shadow: none
      )
    )
  ),
  tabs: (
    padding: 0.5rem 1rem,
    default-color: evo-color(grey-dusk, dark),
    active-color: evo-color(brand, base),
    disabled-bg: evo-color(grey-dusk, 6),
    bg: evo-color(base, white),
    border-color: evo-color(grey-dusk, 4),
    sizes: (
      sm: 2rem,
      md: 2.5rem,
      lg: 3rem
    )
  )
);
