@mixin tabs-style {
  .evo-tabs-bar {
    display: flex;
    height: 100%;
    width: 100%;

    // common settings
    &.evo-tabs-bar-top,
    &.evo-tabs-bar-bottom {
      flex-direction: column;
      width: 100%;

      & .evo-tabs-bar__tabs {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      & .evo-tab-item:not(:first-of-type) {
        margin: 0 0 0 2px;
      }
    }

    &.evo-tabs-bar-left,
    &.evo-tabs-bar-right {
      height: 100%;

      & .evo-tabs-bar__tabs {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      & .evo-tab-item:not(:first-of-type) {
        margin: 2px 0 0 0;
      }

      & .evo-tabs-bar__content-wrapper {
        height: 100%;
      }
    }

    &.evo-tabs-bar-left {
      flex-direction: row;

      & .evo-tabs-bar__content-wrapper {
        border: 1px solid $-tabs-border-color;
        border-left: 0;
      }
    }

    &.evo-tabs-bar-right {
      flex-direction: row-reverse;

      & .evo-tabs-bar__content-wrapper {
        border: 1px solid $-tabs-border-color;
        border-right: 0;
      }
    }

    // top
    &.evo-tabs-bar-top.block-tabs .evo-tab-item__action {
      &:not(:disabled).active {
        background-color: transparentize($-tabs-active-color, .85);
        color: $-tabs-active-color;

        &::before {
          @include block-tab-active(100%, 0, -1px, 0 , 1px, 100%);
        }
      }
    }

    &.evo-tabs-bar-top.card-tabs .evo-tab-item__action,
    &.evo-tabs-bar-top.rounded-tabs .evo-tab-item__action {
      border: 1px solid $-tabs-border-color;
      border-bottom: 0;
    }

    &.evo-tabs-bar-top.rounded-tabs .evo-tab-item__action {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &:not(:disabled).active {
        background-color: transparentize($-tabs-active-color, .85);
        border-color: $-tabs-active-color;
        color: $-tabs-active-color;
      }
    }

    &.evo-tabs-bar-top .evo-tabs-bar__tabs {
      border-bottom: 1px solid $-tabs-border-color;
    }

    // right
    &.evo-tabs-bar-right.block-tabs .evo-tab-item__action {
      &:not(:disabled).active {
        background-color: transparentize($-tabs-active-color, .85);
        color: $-tabs-active-color;

        &::before {
          @include block-tab-active(0, 100%, 0, -1px , 100%, 1px);
        }
      }
    }

    &.evo-tabs-bar-right.card-tabs .evo-tab-item__action,
    &.evo-tabs-bar-right.rounded-tabs .evo-tab-item__action {
      border: 1px solid $-tabs-border-color;
      border-left: 0;

      &:not(:disabled).active {
        background-color: transparentize($-tabs-active-color, .85);
        border-color: $-tabs-active-color;
        color: $-tabs-active-color;
      }
    }

    &.evo-tabs-bar-right.rounded-tabs .evo-tab-item__action {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.evo-tabs-bar-right .evo-tabs-bar__tabs {
      border-left: 1px solid $-tabs-border-color;
    }

    //bottom
    &.evo-tabs-bar-bottom.block-tabs .evo-tab-item__action {
      &:not(:disabled).active {
        background-color: transparentize($-tabs-active-color, .85);
        color: $-tabs-active-color;

        &::before {
          @include block-tab-active(-1px, 0, 100%, 0 , 1px, 100%);
        }
      }
    }

    &.evo-tabs-bar-bottom.card-tabs .evo-tab-item__action,
    &.evo-tabs-bar-bottom.rounded-tabs .evo-tab-item__action {
      border: 1px solid $-tabs-border-color;
      border-top: 0;
    }

    &.evo-tabs-bar-bottom.rounded-tabs .evo-tab-item__action {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      &:not(:disabled).active {
        background-color: transparentize($-tabs-active-color, .85);
        border-color: $-tabs-active-color;
        color: $-tabs-active-color;
      }
    }

    &.evo-tabs-bar-bottom .evo-tabs-bar__tabs {
      border-top: 1px solid $-tabs-border-color;
    }

    //left
    &.evo-tabs-bar-left.block-tabs .evo-tab-item__action {
      &:not(:disabled).active {
        background-color: transparentize($-tabs-active-color, .85);
        color: $-tabs-active-color;

        &::before {
          @include block-tab-active(0, -1px, 0, 100% , 100%, 1px);
        }
      }
    }

    &.evo-tabs-bar-left.card-tabs .evo-tab-item__action,
    &.evo-tabs-bar-left.rounded-tabs .evo-tab-item__action {
      border: 1px solid $-tabs-border-color;
      border-right: 0;

      &:not(:disabled).active {
        background-color: transparentize($-tabs-active-color, .85);
        border-color: $-tabs-active-color;
        color: $-tabs-active-color;
      }
    }

    &.evo-tabs-bar-left.rounded-tabs .evo-tab-item__action {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &.evo-tabs-bar-left .evo-tabs-bar__tabs {
      border-right: 1px solid $-tabs-border-color;
    }

    &__content-wrapper {
      padding: 1.5rem 0.75rem;
    }

    &__tabs {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  .evo-tab-item {
    &__action {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: $-tabs-padding;
      border: none;
      background-color: $-tabs-default-bg;
      color: $-tabs-default-color;
      transition: 0.5s ease;

      &:not(:disabled):hover {
        background-color: transparentize($-tabs-active-color, .85);
        color: $-tabs-active-color;
        cursor: pointer;
      }

      &:disabled,
      &:disabled.active {
        background-color: $-tabs-disabled-bg;
        color: $-tabs-default-color;
        cursor: default;
      }
    }

    &__icon {
      margin: 0 1rem 0 0;
      height: 1.25rem;
      width: 1.25rem;
    }

    &__text {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  @include tabs-size($-tabs-sizes);
}

@mixin block-tab-active($top, $right, $bottom, $left, $height, $width) {
  position: absolute;
  display: block;
  content: '';
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  height: $height;
  width: $width;
  background-color: $-tabs-active-color;
}

@mixin tabs-size($sizes) {
  @each $size, $value in $sizes {
    .evo-tabs-bar.tabs-size__#{$size} .evo-tab-item {
      height: $value;
    }
  }
}
