/**
  Default props value
 */
$-tabs: map_get($ui-props, tabs);

$-tabs-padding: map_get($-tabs, padding);
$-tabs-active-color: map_get($-tabs, active-color);
$-tabs-default-color: map_get($-tabs, default-color);
$-tabs-default-bg: map_get($-tabs, bg);
$-tabs-disabled-bg: map_get($-tabs, disabled-bg);
$-tabs-border-color: map_get($-tabs, border-color);
$-tabs-sizes: map_get($-tabs, sizes);

@mixin tabs-theme($theme) {
  $tabs-padding: map_get($theme, padding);
  $tabs-active-color: map_get($theme, active-color);
  $tabs-border-color: map_get($theme, border-color);
  $tabs-default-color: map_get($theme, default-color);
  $tabs-default-bg: map_get($theme, bg);
  $tabs-disabled-bg: map_get($theme, disabled-bg);
  $tabs-sizes: map_get($theme, sizes);

  @if($tabs-padding) {
    $-tabs-padding: $tabs-padding !global;
  }

  @if($tabs-active-color) {
    $-tabs-active-color: $tabs-active-color !global;
  }

  @if($tabs-default-color) {
    $-tabs-default-color: $tabs-default-color !global;
  }

  @if($tabs-default-bg) {
    $-tabs-default-bg: $tabs-default-bg !global;
  }

  @if($tabs-disabled-bg) {
    $-tabs-disabled-bg: $tabs-disabled-bg !global;
  }

  @if($tabs-border-color) {
    $-tabs-border-color: $tabs-border-color !global;
  }

  @if($tabs-sizes) {
    $-tabs-sizes: $tabs-sizes !global;
  }
}
