@import 'fonts';
@import 'functions';
@import 'palette';

:root {
  --header-height: 4rem;
  --header-padding: 1rem 3rem;
  --sidebar-width: 15rem;
  --content-padding: 3rem;
  --component-card-height: 9rem;
  --component-card-width: 16rem;
  --footer-height: 5rem;
  --footer-padding: 1rem 1.5rem;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $-font-family;
  font-size: $-font-size;
}

* {
  box-sizing: border-box;
  font-size: $-font-size;
}

.base-layout {
  display: grid;
  grid-template-areas:
    'header header'
    'leftNav content'
    'leftNav footer';
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  padding: var(--header-padding);
  background-color: evo-color(brand, base);
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px,
    rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
  color: evo-color(base, white);
  font-size: 1.5rem;
  z-index: 1;

  .link {
    color: evo-color(base, white);
    text-decoration: none;

    h4 {
      margin: 0;
    }
  }

  .app-version {
    user-select: none;
  }
}

.left-nav {
  grid-area: leftNav;
  background-color: transparentize(evo-color(brand, base-alt), 0.5);
  border-right: 1px solid evo-color(grey-dusk, 4);
}

.content {
  grid-area: content;
  background-color: evo-color(grey-dusk, 9);
  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: footer;
  height: var(--footer-height);
  padding: var(--footer-padding);
  background-color: transparentize(evo-color(brand, base-alt), 0.5);
  border-top: 0.0625rem solid evo-color(grey-dusk, 4);

  &__links {
    display: flex;
    align-items: center;
  }

  .link {
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    &:not(:first-of-type) {
      margin: 0 0 0 1.5rem;
    }
  }
}

.menu {
  margin: 2rem 0;
  padding: 0;

  &-item {
    list-style: none;

    a {
      display: block;
      padding: 1rem 2rem;
      border-right: 0.25rem solid transparent;
      color: evo-color(grey-dusk, dark);
      text-decoration: none;
      transition: 0.3s ease;
    }

    &:hover {
      cursor: pointer;

      a {
        background-color: transparentize(evo-color(brand, base), 0.85);
        color: evo-color(brand, base);
      }
    }
  }
}

a.active {
  background-color: transparentize(evo-color(brand, base), 0.85);
  border-right-color: evo-color(brand, base);
  color: evo-color(brand, base);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  width: 100%;
  padding: var(--content-padding);
  color: darken(evo-color(grey-dusk, dark), 0.95);
}

.offset-block {
  padding: 1.5rem 0;
}

.page {
  &-header {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.5rem 0;
    padding: 0 0 1.5rem 0;
    border-bottom: 0.0625rem solid evo-color(grey-dusk, 4);
  }

  &-content {
    padding: 2rem 0 3rem;
    display: flex;
    justify-content: space-between;

    & > .section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 47.5%;
    }

    & > .grid-column {
      display: grid;
      width: 100%;
      grid-template-columns: 100%;
      grid-row-gap: 2rem;
    }

    .column-flex {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .column-grid {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
    }

    .inline-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;
    }

    .grid-template {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 12px;
    }

    .grid-template > * {
      align-self: center;
      justify-self: start;
    }
  }
}

.component-preview {
  display: grid;
  width: 100%;
  padding: 1.5rem;
  border: 0.0625rem solid evo-color(grey-dusk, 4);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  &__preview {
    padding: 1rem 0 0 0;
    border-top: 0.0625rem solid evo-color(grey-dusk, 4);
  }
}

.demo-form {
  display: flex;
  flex-direction: column;

  & > *:not(:first-child),
  & > *:not(:last-child) {
    margin: 1rem 0 0 0;
  }

  & .form-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0 0 0;
  }
}
