/* You can add global styles to this file, and also import other style files */
@use 'lib' as library;

$theme-config: (
  accordion: (),
  button: (),
  checkbox: (),
  fonts: (
    base-path: '../../../dist/kit/src/assets'
  ),
  heading: (),
  input: (),
  radio-group: (),
  tabs: ()
);

@include library.configure($theme: $theme-config);
@include library.style();
@include library.add-fonts();

@import './styles/theme';
