@mixin accordion-style {
  .evo-accordion {
    display: flex;
    flex-direction: column;

    &-panel {
      &:first-of-type {
        .evo-accordion-panel__trigger {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }

      &:last-of-type {
        .evo-accordion-panel__trigger:not(.active),
        .evo-accordion-panel__trigger.active + .evo-accordion-panel__content-wrapper .evo-accordion-panel__content {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }

      &:not(:first-of-type) {
        .evo-accordion-panel__trigger {
          border-top-width: 0;
        }
      }

      &.borderless .evo-accordion-panel__trigger,
      &.borderless .evo-accordion-panel__content {
        border-color: transparent;
      }

      &__trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: $-accordion-padding;
        background-color: $-accordion-default-bg;
        border: 0.0625rem solid evo-color(grey-dusk, 4);
        color: $-accordion-default-color;
        cursor: pointer;
        font-family: $-font-family;
        font-size: $-font-size;
        transition: 0.3s ease;

        &:not(:disabled):hover {
          background-color: transparentize($-accordion-active-color, 0.85);
          color: $-accordion-active-color;
        }

        &:disabled,
        &:disabled + .evo-accordion-panel__content-wrapper {
          background-color: $-accordion-disabled-bg;
          color: transparentize($-accordion-default-color, .4);
        }
      }

      &__icon {
        height: 1.5rem;
        width: 1.5rem;
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
      }

      &__content {
        padding: $-accordion-padding;
        border: 0.0625rem solid evo-color(grey-dusk, 4);
        border-top-width: 0;
      }
    }
  }
}
