/**
  Default props value
 */
$-accordion: map_get($ui-props, accordion);

$-accordion-padding: map_get($-accordion, padding);
$-font-size: map_get($-accordion, font-size);
$-font-family: map_get($-accordion, font-family);
$-accordion-active-color: map_get($-accordion, active-color);
$-accordion-default-color: map_get($-accordion, default-color);
$-accordion-default-bg: map_get($-accordion, bg);
$-accordion-disabled-bg: map_get($-accordion, disabled-bg);

@mixin accordion-theme($theme) {
  $padding: map_get($theme, padding);
  $font-size: map_get($theme, font-size);
  $font-family: map_get($theme, font-family);
  $active-color: map_get($theme, active-color);
  $default-color: map_get($theme, default-color);
  $default-bg: map_get($theme, bg);
  $disabled-bg: map_get($theme, disabled-bg);

  @if ($padding) {
    $-accordion-padding: $padding !global;
  }

  @if ($font-size) {
    $-font-size: $font-size !global;
  }

  @if ($font-family) {
    $-font-family: $font-family !global;
  }

  @if ($active-color) {
    $-accordion-active-color: $active-color !global;
  }

  @if ($default-color) {
    $-accordion-default-color: $default-color !global;
  }

  @if ($default-bg) {
    $-accordion-default-bg: $default-bg !global;
  }

  @if ($disabled-bg) {
    $-accordion-disabled-bg: $disabled-bg !global;
  }
}
