@mixin input-style {
  $baseState: map_get($-input-states, base);
  $activeState: map_get($-input-states, active);
  $errorState: map_get($-input-states, error);
  $disabledState: map_get($-input-states, disabled);

  $horizontalPadding: map_get($-input-padding, horizontal);
  $verticalPadding: map_get($-input-padding, vertical);

  @include common-input-style($baseState, $activeState, $errorState, $disabledState, $horizontalPadding, $verticalPadding);

  @include number-input-style();
  @include text-input-style();
  @include textarea-style();

  @include input-sizes($-input-sizes);
}

@mixin common-input-style($default, $active, $error, $disabled, $horizontalPadding, $verticalPadding) {
  .evo-number-input__input,
  .evo-text-input__input,
  .evo-textarea__input {
    background-color: map_get($default, bg);
    border: 1px solid map_get($default, border);
    margin: 0;
    outline: none;

    &:disabled {
      background-color: map_get($disabled, bg);
      border-color: map_get($disabled, border);
      color: map_get($disabled, color);
      cursor: not-allowed;
    }
  }


  .evo-number-input__input,
  .evo-text-input__input,
  .evo-textarea__input {
    border-radius: 4px;
    color: map_get($default, color);
    padding: $verticalPadding $horizontalPadding;
    transition: 0.5s ease;
    width: 100%;

    &::placeholder {
      color: transparentize(map_get($default, color), .35);
    }

    &:not(:disabled):hover,
    &:focus {
      border-color: map_get($active, border);
    }

    &:not(:empty):invalid,
    &:not(:empty):invalid:hover {
      border-color: map_get($error, border);
    }
  }
}

@mixin number-input-style() {
  .evo-number-input {
    &__input {
      appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        display: none;
      }
    }
  }
}

@mixin text-input-style() {
  $iconSize: 20px;
  $iconHorizontalPosition: calc(#{$iconSize} / 2);
  $iconHorizontalOffset: calc(#{$iconSize} * 2);

  .evo-text-input {
    position: relative;
    display: block;

    &__icon {
      position: absolute;
      top: calc(50% - #{$iconHorizontalPosition});
      height: $iconSize;
      width: $iconSize;
      cursor: pointer;
    }

    &__prefix-icon {
      left: $iconHorizontalPosition;

      & ~ .evo-text-input__input {
        padding-left: $iconHorizontalOffset;
      }
    }

    &__suffix-icon {
      right: $iconHorizontalPosition;

      & ~ .evo-text-input__input {
        padding-right: $iconHorizontalOffset;
      }
    }
  }
}

@mixin textarea-style() {
  .evo-textarea {
    &__input {
      padding: 0.75rem;
      font-family: inherit;
      font-size: 0.875rem;
      resize: none;
    }

    &__characters {
      display: flex;
      justify-content: flex-end;
      margin: 0.25rem 0.25rem 0 0.25rem;
      font-family: inherit;
      font-size: 0.75rem;
    }
  }
}

@mixin input-sizes($sizes) {
  @each $size, $value in $sizes {
    .evo-input-#{$size} .evo-text-input__input,
    .evo-input-#{$size} .evo-number-input__input {
      height: $value;
    }

    .evo-input-#{$size} .evo-textarea__input,
    .evo-input-#{$size} .evo-text-input__input,
    .evo-input-#{$size} .evo-number-input__input {
      @if ($size == "lg") {
        font-size: 1rem;
      } @else {
        font-size: 0.875rem;
      }
    }
  }
}
