/**
  Default props value
 */
$-input: map_get($ui-props, input);

$-input-padding: map_get($-input, padding);
$-input-sizes: map_get($-input, sizes);
$-input-states: map_get($-input, states);

@mixin input-theme($theme) {
  $input-padding: map_get($theme, padding);
  $input-sizes: map_get($theme, sizes);
  $input-states: map_get($theme, states);

  @if ($input-padding) {
    $-input-padding: $input-padding !global;
  }

  @if ($input-sizes) {
    $-input-sizes: $input-sizes !global;
  }

  @if ($input-states) {
    $-input-states: $input-states !global;
  }
}
