<app-page-header pageTitle="Icons"></app-page-header>
<app-page-content [mainSectionTmpl]="mainSectionTmpl"></app-page-content>

<ng-template #mainSectionTmpl>
  <section class="preview grid-wrapper">
    <ng-container
      *ngFor="let icon of iconNames"
      [ngTemplateOutlet]="iconPreview"
      [ngTemplateOutletContext]="{ $implicit: icon }"
    ></ng-container>
  </section>

  <ng-template #iconPreview let-icon>
    <div class="icon-preview">
      <evo-icon class="icon" [name]="icon"></evo-icon>
      <h6 class="evo-heading">{{ icon | titlecase }}</h6>
    </div>
  </ng-template>
</ng-template>
