@import 'functions';
@import 'palette';

$iconPreviewSize: 10rem;

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fill, #{$iconPreviewSize});
  grid-gap: 1.25rem;
  align-items: center;
  justify-items: center;
}

.icon {
  height: 3rem;
  width: 3rem;
  margin: 0 0 1rem 0;

  & > .evo-icon {
    height: 100%;
    width: 100%;
  }

  &-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $iconPreviewSize;
    width: $iconPreviewSize;
    border-radius: 1rem;
    transition: 0.3s ease;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
      background-color: evo-color(brand, base);
      color: evo-color(base, white);
      cursor: pointer;
    }

    h6.evo-heading {
      margin: 0;
      word-break: break-word;
      text-align: center;
    }
  }
}
