@mixin button-style {
  $verticalPadding: map-get($-btn-padding, vertical);
  $horizontalPadding: map-get($-btn-padding, horizontal);
  $disabled: map_get($-btn-variants, disabled);

  .evo-button {
    &__button {
      border: 0.0625rem solid;
      border-radius: 4px;
      padding: $verticalPadding $horizontalPadding;
      cursor: pointer;
      transition: all .5s ease;

      &:hover:not(:disabled) {
        opacity: 0.7;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  .evo-button-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__button {
      padding: $verticalPadding $horizontalPadding;
      border: 1px solid map_get($-btn-group-default, border);
      background-color: map_get($-btn-group-default, bg);
      color: map_get($-btn-group-default, color);
      cursor: pointer;
      transition: 0.5s ease;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right-color: transparent;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left-color: transparent;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  @include evo-button-group-style($-btn-variants, $disabled);
  @include evo-button-style($-btn-variants, $disabled);
  @include evo-button-sizes($-btn-sizes);
}

@mixin evo-button-group-style($variants, $disabled) {
  @each $name, $colors in $variants {
    @if ($name != "disabled") {
      .evo-button-#{$name} .evo-button-group__button {
        &:hover,
        &.active {
          background-color: map_get($colors, bg);
          border-top-color: map_get($colors, border);
          border-bottom-color: map_get($colors, border);
          color: map_get($colors, color);
        }

        &:first-child:hover,
        &:first-child.active {
          border-left-color: map_get($colors, border);
        }

        &:last-child:hover,
        &:last-child.active {
          border-right-color: map_get($colors, border);
        }

        &:disabled:first-child:hover,
        &:disabled:first-child.active {
          border-left-color: map_get($disabled, border);
        }

        &:disabled:last-child:hover,
        &:disabled:last-child.active {
          border-right-color: map_get($disabled, border);
        }

        &:disabled {
          background-color: map_get($disabled, bg);
          border-top-color: map_get($disabled, border);
          border-bottom-color: map_get($disabled, border);
          color: map_get($disabled, color);
        }
      }
    }
  }
}

@mixin evo-button-style($variants, $disabled) {
  @each $name, $colors in $variants {
    @if ($name != "disabled") {
      .evo-button-#{$name} .evo-button__button {
        background-color: map_get($colors, bg);
        border-color: map_get($colors, border);
        color: map-get($colors, color);

        &:disabled {
          background-color: map_get($disabled, bg);
          border-color: map_get($disabled, border);
          color: map-get($disabled, color);
        }

        @if ($name == "ghost") {
          .evo-button-#{$name} .evo-button__button:hover {
            color: evo-color(brand, base);
            box-shadow: none;
            opacity: 1;
          }
        }
      }
    }
  }
}

@mixin evo-button-sizes($sizes) {
  @each $size, $value in $sizes {
    .evo-button-#{$size} .evo-button__button,
    .evo-button-#{$size} .evo-button-group__button {
      height: $value;
    }
  }
}

