/**
  Default props value
*/
$-btn: map_get($ui-props, button);

$-btn-sizes: map_get($-btn, sizes);
$-btn-padding: map_get($-btn, padding);
$-btn-variants: map_get($-btn, variants);
$-btn-group-default: map_get($-btn, group-default);


@mixin button-theme($theme) {
  $btn-sizes: map_get($theme, sizes);
  $btn-padding: map_get($theme, padding);
  $btn-variants: map_get($theme, variants);
  $btn-group-default: map_get($theme, group-default);

  @if ($btn-sizes) {
    $-btn-sizes: $btn-sizes !global;
  }

  @if ($btn-padding) {
    $-btn-padding: $btn-padding !global;
  }

  @if ($btn-variants) {
    $-btn-variants: $btn-variants !global;
  }

  @if ($btn-group-default) {
    $-btn-group-default: $btn-group-default !global;
  }
}
