@mixin radio-group-style {
  $default: map_get($-radio-states, base);
  $active: map_get($-radio-states, active);
  $error: map_get($-radio-states, error);
  $disabled: map_get($-radio-states, disabled);

  .evo-radio {
    &-group {
      display: flex;

      &__column {
        flex-direction: column;

        & .evo-radio-button:not(:first-of-type) {
          margin: 1rem 0 0 0;
        }
      }

      &__row {
        flex-direction: row;

        & .evo-radio-button:not(:first-of-type) {
          margin: 0 0 0 1rem;
        }
      }
    }

    &-button {
      display: flex;
      align-items: center;

      &:hover .evo-radio-button__input {
        &:not(:disabled):not(:checked) {
          &::before {
            transform: scale(1.5);
          }

          & ~ .evo-radio-button__label {
            cursor: pointer;
          }
        }
      }

      &__input {
        position: relative;
        appearance: none;
        background-color: map_get($default, bg);
        border: 1px solid map_get($default, border);
        border-radius: 50%;
        cursor: pointer;
        margin: 0;
        outline: none;
        transition: .3s ease;

        &::before {
          position: absolute;
          top: -1px;
          left: -1px;
          border-radius: 50%;
          content: '';
          transform: scale(0);
          transition: .3s ease;
        }

        &:checked::before {
          transform: scale(0.65);
        }

        &:not(:disabled):checked {
          animation: radio-pulse 0.5s ease;
          animation-delay: 0.125s;
          border-color: map_get($active, border);

          &::before {
            background-color: map_get($active, bg);
          }
        }

        &:not(:checked):hover {
          box-shadow: map_get($default, shadow);
        }

        &:checked:disabled,
        &:not(:checked):disabled {
          background-color: map_get($disabled, bg);
          border-color: map_get($disabled, border);
          box-shadow: map_get($disabled, shadow);
          cursor: not-allowed;

          &::before {
            background-color: map_get($disabled, border);
          }

          & ~ .evo-radio-button__label {
            cursor: not-allowed;
          }
        }
      }

      &__label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 0.5rem;
        user-select: none;
      }
    }
  }

  @keyframes radio-pulse {
    0% {
      box-shadow: 0 0 0 0 transparentize(map_get($active, bg), .7);
    }

    100% {
      box-shadow: 0 0 0 12px transparentize(map_get($active, bg), 1);
    }
  }

  @include radio-sizes($-radio-sizes);
}

@mixin radio-sizes($sizes) {
  @each $size, $value in $sizes {
    .evo-radio-group-#{$size} .evo-radio-button__input,
    .evo-radio-group-#{$size} .evo-radio-button__input::before {
      height: $value;
      width: $value;
    }
  }
}
