/**
  Default props value
 */
$-radio: map_get($ui-props, radio-group);

$-radio-sizes: map_get($-radio, sizes);
$-radio-states: map_get($-radio, states);

@mixin radio-group-theme($theme) {
  $radio-sizes: map_get($theme, sizes);
  $radio-states: map_get($theme, states);

  @if ($radio-sizes) {
    $-radio-sizes: $radio-sizes !global;
  }

  @if ($radio-states) {
    $-radio-states: $radio-states !global;
  }
}
