@mixin checkbox-style {
  $default: map_get($-checkbox-states, base);
  $active: map_get($-checkbox-states, active);
  $disabled: map_get($-checkbox-states, disabled);


  @include evo-checkbox-group($default);
  @include evo-checkbox-style($default, $active, $disabled);
  @include evo-switch-style($default, $active, $disabled);
  @include checkbox-sizes($-checkbox-sizes);
  @include switch-sizes($-checkbox-switch-sizes);
}

@mixin evo-checkbox-group($default) {
  .evo-checkbox-group {
    & > section:not(:first-child) {
      margin: 1.25rem 0 0 0;
    }

    &__grid {
      display: grid;
      grid-gap: 1rem;
    }

    &__check-all {
      padding: 1rem 0;
      border-bottom: 1px solid map_get($default, border);
    }
  }
}

@mixin evo-checkbox-style($default, $active, $disabled) {
  .evo-checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &__input {
      display: none;

      & + .evo-checkbox__label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        user-select: none;

        &::before {
          background-color: map_get($default, bg);
          border: 0.0625rem solid map_get($default, border);
          border-radius: 4px;
          content: "";
          margin: 0 0.5rem 0 0;
          transition: .3s ease;
        }
      }

      &:not(:disabled) + .evo-checkbox__label {
        &:hover {
          cursor: pointer;

          &::before {
            box-shadow: map_get($default, shadow);
          }
        }
      }

      &:checked + .evo-checkbox__label::before {
        background-color: map_get($active, bg);
        border-color: map_get($active, border);
      }

      &:disabled + .evo-checkbox__label {
        color: map_get($disabled, color);

        &:hover {
          cursor: not-allowed;
        }
      }

      &:not(:disabled):checked + .evo-checkbox__label::before {
        animation: checkbox-pulse 0.5s ease;
      }

      &:checked:disabled + .evo-checkbox__label::before,
      &:not(:checked):disabled + .evo-checkbox__label::before {
        background-color: map-get($disabled, bg);
        border-color: map_get($disabled, border);
        box-shadow: map_get($disabled, shadow);
      }

      &_checked {
        position: absolute;
        left: 1px;
        border-radius: 4px;
        color: map_get($active, color);
        cursor: pointer;
        z-index: 2;
      }

      &_disabled {
        background-color: map_get($disabled, bg);
        border-color: map_get($disabled, border);
        box-shadow: none;
        color: map_get($disabled, color);
        pointer-events: none;
      }
    }
  }

  @keyframes checkbox-pulse {
    0% {
      box-shadow: 0 0 0 0 transparentize(map_get($active, bg), .7);
    }

    100% {
      box-shadow: 0 0 0 12px transparentize(map_get($active, bg), 1);
    }
  }
}

@mixin evo-switch-style($default, $active, $disabled) {
  .evo-switch-sm .evo-switch__input::before {
    top: -45%;
  }

  .evo-switch-md .evo-switch__input::before {
    top: -35%;
  }

  .evo-switch-lg .evo-switch__input::before {
    top: -35%;
  }

  .evo-switch {
    display: flex;
    align-items: center;

    &__label {
      margin: 0 0 0 0.75rem;
    }

    &__input {
      position: relative;
      appearance: none;
      outline: none;
      background-color: map_get($default, bg);
      border: 1px solid map_get($default, border);
      border-radius: 20px;
      margin: 0;
      transition: .3s ease;

      &::before {
        position: absolute;
        left: -1px;
        content: '';
        background-color: map_get($default, border);
        border: 1px solid map_get($default, border);
        border-radius: 50%;
        transition: .3s ease;
      }

      &:not(:disabled):hover {
        box-shadow: map_get($default, shadow);
        cursor: pointer;

        & ~ .evo-switch__label {
          cursor: pointer;
        }
      }

      &:not(:disabled):checked {
        background-color: transparentize(map_get($active, bg), .65);
        border-color: transparentize(map_get($active, bg), .75);

        &::before {
          animation: switch-pulse 0.5s ease;
          animation-delay: 0.1s;
          background-color: map_get($active, bg);
          border-color: map_get($active, border);
        }
      }

      &:disabled {
        background-color: transparentize(map_get($disabled, bg), .25);
        border-color: transparentize(map_get($disabled, border), .25);
        cursor: not-allowed;

        &::before {
          background-color: map_get($disabled, bg);
          border-color: map_get($disabled, border);
          cursor: not-allowed;
        }

        & + .evo-switch__label {
          color: map_get($disabled, color);
          cursor: not-allowed;
        }
      }
    }
  }

  @keyframes switch-pulse {
    0% {
      box-shadow: 0 0 0 0 transparentize(map_get($active, bg), .7);
    }

    100% {
      box-shadow: 0 0 0 12px transparentize(map_get($active, bg), 1);
    }
  }
}

@mixin checkbox-sizes($sizes) {
  @each $size, $value in $sizes {
    .evo-checkbox-#{$size} .evo-checkbox__label::before,
    .evo-checkbox-#{$size} .evo-checkbox__input_checked {
      height: $value;
      width: $value;
    }
  }
}

@mixin switch-sizes($sizes) {
  @each $size, $value in $sizes {
    .evo-switch-#{$size} {
      height: $value;
    }

    .evo-switch-#{$size} .evo-switch__input {
      height: calc(0.7 * #{$value});
      width: calc(2 * #{$value});

      &::before {
        height: $value;
        width: $value;
      }

      &:checked::before {
        left: $value;
      }
    }
  }
}
