/**
  Default props value
*/
$-checkbox: map_get($ui-props, checkbox);

$-checkbox-sizes: map_get($-checkbox, sizes);
$-checkbox-states: map_get($-checkbox, states);
$-checkbox-switch-sizes: map_get($-checkbox, switch-sizes);

@mixin checkbox-theme($theme) {
  $checkbox-sizes: map_get($theme, sizes);
  $checkbox-states: map_get($theme, states);
  $checkbox-switch-sizes: map_get($theme, switch-sizes);

  @if ($checkbox-sizes) {
    $-checkbox-sizes: $checkbox-sizes !global;
  }

  @if ($checkbox-states) {
    $-checkbox-states: $checkbox-states !global;
  }

  @if($checkbox-switch-sizes) {
    $-checkbox-switch-sizes: $checkbox-switch-sizes !global;
  }
}
