@mixin heading-style {
  .evo-heading {
    color: currentColor;
    font-family: $-heading-font-family;
    font-weight: normal;
    margin: $-margin;
  }

  @include heading-size($-sizes);
}

@mixin heading-size($sizes) {
  @each $tag, $size in $sizes {
    #{$tag}.evo-heading {
      font-size: $size;
    }
  }
}
