$-margin: 0 0 2rem;
$-heading-font-family: $-font-family;
$-sizes: map-get($ui-props, heading);

@mixin heading-theme($theme) {
  $margin: map-get($theme, margin);
  $heading-font-family: map-get($theme, family);
  $sizes: map-get($theme, sizes);

  @if ($margin) {
    $-margin: $margin !global;
  }

  @if ($heading-font-family) {
    $-heading-font-family: $heading-font-family !global;
  }

  @if ($sizes) {
    $-sizes: $sizes !global;
  }
}
